@import "tailwindcss";

@theme {
  --color-papalambrou-green: #4d5f52;
  --color-papalambrou-card: #425447;
  --color-papalambrou-text-light: #d1dac5;
}

body {
  background-color: #ffffff;
  color: #171717;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.wood-rings-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.bottom-logs-bg {
  background-image: url('/woodss1.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.bottom-logs-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(40, 50, 42, 0.85);
  /* dark green overlay */
}